# Restaurant Visitor Forecasting by GooseLearning

In [1]:
import pandas as pd

In [2]:
data = {
    'air_store': pd.read_csv('dataset/air_store_info.csv'),
    'hpg_store': pd.read_csv('dataset/hpg_store_info.csv'),

    'air_reserve': pd.read_csv('dataset/air_reserve.csv'),
    'hpg_reserve': pd.read_csv('dataset/hpg_reserve.csv'),

    'air_hpd': pd.read_csv('dataset/store_id_relation.csv'),
    
    'date': pd.read_csv('dataset/date_info.csv').rename(columns={'calendar_date':'visit_date'}),

    'train': pd.read_csv('dataset/air_visit_data.csv'),
    'test':  pd.read_csv('dataset/sample_submission.csv'),
}

### Обработка данных

Приводим `test` к формату `train`

In [3]:
data['test']['air_store_id'] = [id[:20] for id in data['test']['id']]
data['test']['visit_date']   = [id[21:] for id in data['test']['id']]

In [4]:
data['test'].head()

                                id  visitors          air_store_id  visit_date
0  air_00a91d42b08b08d9_2017-04-23         0  air_00a91d42b08b08d9  2017-04-23
1  air_00a91d42b08b08d9_2017-04-24         0  air_00a91d42b08b08d9  2017-04-24
2  air_00a91d42b08b08d9_2017-04-25         0  air_00a91d42b08b08d9  2017-04-25
3  air_00a91d42b08b08d9_2017-04-26         0  air_00a91d42b08b08d9  2017-04-26
4  air_00a91d42b08b08d9_2017-04-27         0  air_00a91d42b08b08d9  2017-04-27

 Расширяем `air_reserve` данными из `hpg_reserve`

In [5]:
data['hpg_reserve_air'] = pd.merge(data['hpg_reserve'], data['air_hpd'], how='inner', on=['hpg_store_id'])
data['air_reserve_ext'] = pd.concat([data['air_reserve'], data['hpg_reserve_air'].drop('hpg_store_id', axis=1)])

In [6]:
print('air_reserve    ', len(data['air_reserve']))
print('air_reserve_ext', len(data['air_reserve_ext']))

air_reserve     92378
air_reserve_ext 120561